<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shalom Vanderhoof: Software Engineer</title>
</head>
<body class="body--home">
    <div class="header">
        <ul class="nav">
            <li><a href="/experience/">Experience</a></li>
            <li><a href="/education/">Education</a></li>
            <li><a href="/skills/">Technical Skills</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
        </ul>
    </div>
    <div class="content">
        <h1 class="title">Shalom Vanderhoof</h1>
        <ul class="nav home">
            <li><a href="/resume/" class="btn" >RESUME</a></li>
            <li><a href="/contact/" class="btn">CONTACT</a></li>
        </ul>
    </div>
</body>
</html>