{% extends 'resume/base.html' %}

{% block content %}
    <div class="card">
        <a href="/resume/education/">
            <div class="card-title">
                <h1>Education</h1>
            </div>
            <div class="info" style="width: 55%">
                <ul>
                    {% for school in education %}
                            <li>{{ school }}</li>
                    {% endfor %}
                </ul>
                <ul>
                    {% for school in education %}
                        {% if not school.currently_enrolled %}
                            <li>{{ school.year_started.date.month }}/{{ school.year_started.date.year }} -
                                {{ school.year_ended.date.month }}/{{ school.year_ended.date.year }}</li>
                        {% else %}
                            <li>{{ school.year_started.date.month }}/{{ school.year_started.date.year }} -
                                {{ school.expected_end_year.date.month }}/{{ school.expected_end_year.date.year }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </a>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>Experience</h1>
        </div>
        <div class="info" style="width: 70%">
            <ul>
                {% for job in experiences %}
                        <li>{{ job }}</li>
                {% endfor %}
            </ul>
            <ul>
                {% for job in experiences %}
                    {% if not job.is_current %}
                        <li>{{ job.start_date.date.month }}/{{ job.start_date.date.year }} -
                            {{ job.end_date.date.month }}/{{ job.end_date.date.year }}</li>
                    {% else %}
                        <li>{{ job.start_date.date.month }}/{{ job.start_date.date.year }} -
                            present</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>Skills</h1>
        </div>
        <div class="info" style="width: 70%">
            <ul>
                {% for skill in skills %}
                        <li>{{ skill.get_category_display }}</li>
                {% endfor %}
            </ul>
            <ul>
                {% for skill in skills %}
                        <li>{{ skill }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <h1>Projects</h1>
        </div>
        <div class="info" style="width: 90%">
            <ul>
                {% for project in projects %}
                        <li>{{ project }}</li>
                {% endfor %}
            </ul>
            <ul>
                {% for project in projects %}
                    <li><a href="{{ project.github_link }}" target="_blank">{{ project.github_link }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}