body{
    margin: -18px 0 0 0;
    text-align: center;
    background: linear-gradient(0deg, rgba(0,212,255,1) 6%, rgba(10,24,130,1) 55%, rgba(2,0,36,1) 99%);
    min-height: 100vh;
}
ul{
    list-style: none;
}
.body--home {
    background: white url("images/computer.png") no-repeat;
    background-size: cover;
}
.header.base{
    position: fixed;
    width: 80%;
    background: white;
}
.header a{
    text-decoration: none;
    color: black;
}
.header ul{
    padding-inline-start: unset;
    margin-block-end: 0;
}
.header li{
    border-right: 2px solid black;
    font-size: 1.5em;
    padding: 10px;
}
.header li:hover{
    font-size: 1.6em
}
.header li:first-child{
    border-left: 2px solid black;
}
.btn{
    text-decoration: none;
    border: 3px solid black;
    padding: 5px;
    color: black;
    font-size: 1.5em;
    margin: 0 15px;
}
.content{
    padding-top: 50px;
}
.content ul{
    margin: 0 40px 0 0;
}
.nav li{
    display: inline-block;
}
.nav.home{
    margin-top: -30px;
}
.title{
    margin-top: 8%;
    font-size: 4em;
}
.content a:hover{
    background-color: lightgrey;
}
/*.education li{
    display: inline-block;
}*/
/*.education ul li:last-child{
    padding-left: 50px;
}*/
.education{
    width: 50%;
    margin: 0 auto 50px auto;
    border: 1px solid gray;
    background: gainsboro;
    box-shadow: 2px 2px gray;
}
.card-title{
    border-bottom: 1px solid darkgray;
}
.info{
    width: 80%;
    margin: 0 auto;
}
.info ul{
    width: 50%;
    display: table-cell;
}
.info ul li{
    margin-block-start: 1em;
    margin-block-end: 1em;

}